{% extends 'base.html' %}
{% load static %}
{% block title %}Blogs{% endblock title %}
{% block main_content %}
<style>
    /* Custom CSS to fix the size of the card elements */
    .card {
        height: 300px; /* Set a fixed height for the card */
    }

    /* Override Bootstrap styles for card images */
    .card-img-top {
        height: 200px; /* Set a fixed height for the card image */
    }

    /* Optional: Add styles for card titles */
    .blog-title {
        margin-top: 10px;
        font-size: 18px;
    }
</style>
<div class="section-title">
    <h2>Blogs</h2>
</div>




<div class="row row-cols-1 row-cols-md-3 g-4">
    <a href="/django-first-app">
        <div class="col">
            <div class="card">
                <img src="{% static 'assets/img/courses/django.png' %}" class="card-img-top" alt="Blog 1 Image">
                <div class="card-body">
                    <h5 class="card-title blog-title">Complete Step-up of Your First Django Project With Simple Steps </h5>
                </div>
            </div>
        </div>
    </a>

    <!-- Blog Item 2 -->
    <a href="#">
        <div class="col">
            <div class="card">
                <img src="{% static 'assets/img/courses/pythoAnywhere.png' %}" class="card-img-top" alt="Blog 2 Image">
                <div class="card-body">
                    <h5 class="card-title blog-title">Deploy Django App</h5>
                </div>
            </div>
        </div>
    </a>

    <!-- Blog Item 3 -->
    <a href="#">
        <div class="col">
            <div class="card">
                <img src="{% static 'assets/img/courses/cpanel.png' %}" class="card-img-top" alt="Blog 3 Image">
                <div class="card-body">
                    <h5 class="card-title blog-title">Deploy Django on Cpanel</h5>
                </div>
            </div>
        </div>
    </a>

    
</div>
{% endblock main_content %}


